In [167]:
from __future__ import print_function
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.optimizers import SGD, RMSprop, Adam
from keras.layers import Dense, Activation, Dropout

In [168]:
raw_train = pd.read_csv('./all/train.csv', index_col=0)
raw_test = pd.read_csv('./all/test.csv', index_col=0)

In [169]:
raw_train['is_test'] = 0
raw_test['is_test'] = 1

In [170]:
all_data = pd.concat((raw_train, raw_test), axis=0, sort=False)

In [171]:
all_data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,is_test
PassengerId,,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
6,0.0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0
7,0.0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0
8,0.0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,0
9,1.0,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,0
10,1.0,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,0
11,1.0,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,0
12,1.0,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,0
13,0.0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,0
14,0.0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,0
15,0.0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,0
16,1.0,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,0
17,0.0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,0
18,1.0,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,0
19,0.0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,0
20,1.0,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,0
21,0.0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,0
22,1.0,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,0
23,1.0,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,0
24,1.0,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,0
25,0.0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,0
26,1.0,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,0
27,0.0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,0
28,0.0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,0
29,1.0,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,0
30,0.0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1280,NaN,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q,1
1281,NaN,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S,1
1282,NaN,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S,1
1283,NaN,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S,1
1284,NaN,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S,1
1285,NaN,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S,1
1286,NaN,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S,1
1287,NaN,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S,1
1288,NaN,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q,1
1289,NaN,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C,1
1290,NaN,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S,1
1291,NaN,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q,1
1292,NaN,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S,1
1293,NaN,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S,1
1294,NaN,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C,1
1295,NaN,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S,1
1296,NaN,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C,1
1297,NaN,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C,1
1298,NaN,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S,1
1299,NaN,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,1
1300,NaN,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q,1
1301,NaN,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,1
1302,NaN,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q,1
1303,NaN,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,1
1304,NaN,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S,1
1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,1
1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1
1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,1
1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,1
1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,1

In [172]:
def get_title_last_name(name):
    full_name = name.str.split(', ', n=0, expand=True)
    last_name = full_name[0]
    titles = full_name[1].str.split('.', n=0, expand=True)
    titles = titles[0]
    return(titles)

In [173]:
def get_titles_from_names(df):
    df['Title']=get_title_last_name(df['Name'])
    df = df.drop(['Name'], axis=1)
    return(df)

In [174]:
def get_dummy_cats(df):
    return(pd.get_dummies(df, columns=['Title', 'Pclass', 'Sex', 'Embarked', 
                                      'Cabin', 'Cabin_letter']))

In [175]:
def get_cabin_letter(df):
    df['Cabin'].fillna('Z', inplace=True)
    df['Cabin_letter'] = df['Cabin'].str[0]
    return(df)

In [176]:
def process_data(df):
     # preprocess Title, Cabin, and embarked
    df = get_titles_from_names(df)
    df['Embarked'].fillna('S', inplace=True)
    df = get_cabin_letter(df)
    
    # Drop remaining feafures
    df = df.drop(['Ticket', 'Fare'], axis=1)
    
    df = get_dummy_cats(df)
    
    return(df)

In [177]:
proc_data = process_data(all_data)

In [178]:
proc_train = proc_data[proc_data['is_test']==0]
proc_test = proc_data[proc_data['is_test']==1]

In [179]:
for_age_train = proc_data.drop(['Survived', 'is_test'], axis=1).dropna(axis=0)

In [180]:
X_train_age = for_age_train.drop('Age', axis=1)
Y_train_age = for_age_train['Age']

In [181]:
tmodel = Sequential()
tmodel.add(Dense(128, input_dim=X_train_age.shape[1],  kernel_initializer='normal', bias_initializer='zeros'))
tmodel.add(Activation('relu'))

for i in range(1,9):
    tmodel.add(Dense(64, kernel_initializer='normal'))
    tmodel.add(Activation('relu'))
    tmodel.add(Dropout(0.25))

tmodel.add(Dense(1))
tmodel.add(Activation('linear'))

tmodel.compile(loss='mean_squared_error', optimizer='rmsprop')

In [ ]:
tmodel.fit(X_train_age.values, Y_train_age.values, epochs=600, verbose=2)

Epoch 1/600
0s - loss: 675.7717
Epoch 2/600
0s - loss: 229.5006
Epoch 3/600
0s - loss: 223.1818
Epoch 4/600
0s - loss: 217.1494
Epoch 5/600
0s - loss: 208.8200
Epoch 6/600
0s - loss: 201.9015
Epoch 7/600
0s - loss: 197.5562
Epoch 8/600
0s - loss: 199.4541
Epoch 9/600
0s - loss: 191.1520
Epoch 10/600
0s - loss: 193.7116
Epoch 11/600
0s - loss: 186.3871
Epoch 12/600
0s - loss: 194.1180
Epoch 13/600
0s - loss: 180.7137
Epoch 14/600
0s - loss: 173.9018
Epoch 15/600
0s - loss: 178.4820
Epoch 16/600
0s - loss: 180.5377
Epoch 17/600
0s - loss: 181.6693
Epoch 18/600
0s - loss: 176.5200
Epoch 19/600
0s - loss: 171.2988
Epoch 20/600
0s - loss: 164.5610
Epoch 21/600
0s - loss: 167.0769
Epoch 22/600
0s - loss: 174.0913
Epoch 23/600
0s - loss: 165.7127
Epoch 24/600
0s - loss: 168.3370
Epoch 25/600
0s - loss: 174.0455
Epoch 26/600
0s - loss: 154.8354
Epoch 27/600
0s - loss: 149.6777
Epoch 28/600
0s - loss: 156.6963
Epoch 29/600
0s - loss: 165.4892
Epoch 30/600
0s - loss: 165.7026
Epoch 31/600
0s - loss: 159.7525
Epoch 32/600
0s - loss: 154.1414
Epoch 33/600
0s - loss: 160.8946
Epoch 34/600
0s - loss: 166.1496
Epoch 35/600
0s - loss: 154.9068
Epoch 36/600
0s - loss: 145.8325
Epoch 37/600
0s - loss: 160.7495
Epoch 38/600
0s - loss: 156.9783
Epoch 39/600
0s - loss: 156.0416
Epoch 40/600
0s - loss: 152.4607
Epoch 41/600
0s - loss: 156.4773
Epoch 42/600
0s - loss: 149.9248
Epoch 43/600
0s - loss: 150.9203
Epoch 44/600
0s - loss: 148.5510
Epoch 45/600
0s - loss: 153.3839
Epoch 46/600
0s - loss: 157.7481
Epoch 47/600
0s - loss: 151.0960
Epoch 48/600
0s - loss: 154.2471
Epoch 49/600
0s - loss: 143.0850
Epoch 50/600
0s - loss: 157.1907
Epoch 51/600
0s - loss: 156.8385
Epoch 52/600
0s - loss: 146.9145
Epoch 53/600
0s - loss: 147.1662
Epoch 54/600
0s - loss: 146.2897
Epoch 55/600
0s - loss: 141.6973
Epoch 56/600
0s - loss: 141.3380
Epoch 57/600
0s - loss: 151.7739
Epoch 58/600
0s - loss: 147.5981
Epoch 59/600
0s - loss: 144.8156
Epoch 60/600
0s - loss: 152.0552
Epoch 61/600
0s - loss: 151.3953
Epoch 62/600
0s - loss: 140.4675
Epoch 63/600
0s - loss: 140.4181
Epoch 64/600
0s - loss: 145.1584
Epoch 65/600
0s - loss: 138.1907
Epoch 66/600
0s - loss: 141.0324
Epoch 67/600
0s - loss: 138.7553
Epoch 68/600
0s - loss: 140.3934
Epoch 69/600
0s - loss: 146.6104
Epoch 70/600
0s - loss: 142.7876
Epoch 71/600
0s - loss: 139.0345
Epoch 72/600
0s - loss: 138.3546
Epoch 73/600
0s - loss: 145.1068
Epoch 74/600
0s - loss: 133.9620
Epoch 75/600
0s - loss: 138.7571
Epoch 76/600
0s - loss: 133.1281
Epoch 77/600
0s - loss: 131.4031
Epoch 78/600
0s - loss: 131.1615
Epoch 79/600
0s - loss: 138.0855
Epoch 80/600
0s - loss: 137.4935
Epoch 81/600
0s - loss: 140.4767
Epoch 82/600
0s - loss: 137.7326
Epoch 83/600
0s - loss: 141.1214
Epoch 84/600
0s - loss: 137.4508
Epoch 85/600
0s - loss: 128.4493
Epoch 86/600
0s - loss: 134.9022
Epoch 87/600
0s - loss: 132.2196
Epoch 88/600
0s - loss: 138.0011
Epoch 89/600
0s - loss: 139.8475
Epoch 90/600
0s - loss: 137.4375
Epoch 91/600
0s - loss: 136.4588
Epoch 92/600
0s - loss: 145.2294
Epoch 93/600
0s - loss: 140.0227
Epoch 94/600
0s - loss: 137.1598
Epoch 95/600
0s - loss: 131.7890
Epoch 96/600
0s - loss: 132.7884
Epoch 97/600
0s - loss: 129.7458
Epoch 98/600
0s - loss: 135.3445
Epoch 99/600
0s - loss: 139.5513
Epoch 100/600
0s - loss: 130.3446
Epoch 101/600
0s - loss: 134.4781
Epoch 102/600
0s - loss: 133.0909
Epoch 103/600
0s - loss: 129.7692
Epoch 104/600
0s - loss: 123.2533
Epoch 105/600
0s - loss: 129.8280
Epoch 106/600
0s - loss: 137.5127
Epoch 107/600
0s - loss: 134.4253
Epoch 108/600
0s - loss: 130.1513
Epoch 109/600
0s - loss: 129.1521
Epoch 110/600
0s - loss: 138.5486
Epoch 111/600
0s - loss: 134.8897
Epoch 112/600
0s - loss: 135.5934
Epoch 113/600
0s - loss: 128.3932
Epoch 114/600
0s - loss: 141.5843
Epoch 115/600
0s - loss: 134.9574
Epoch 116/600
0s - loss: 135.7403
Epoch 117/600
0s - loss: 129.9114
Epoch 118/600
0s - loss: 137.3399
Epoch 119/600
0s - loss: 137.5813
Epoch 120/600
0s - loss: 129.6829
Epoch 121/600
0s - loss: 135.1571
Epoch 122/600
0s - loss: 141.2042
Epoch 123/600
0s - loss: 126.3600
Epoch 124/600
0s - loss: 131.1268
Epoch 125/600
0s - loss: 138.0934
Epoch 126/600
0s - loss: 137.3874
Epoch 127/600
0s - loss: 133.0610
Epoch 128/600
0s - loss: 128.8343
Epoch 129/600
0s - loss: 130.2281
Epoch 130/600
0s - loss: 131.9104
Epoch 131/600
0s - loss: 126.9367
Epoch 132/600
0s - loss: 137.8745
Epoch 133/600
0s - loss: 130.8698
Epoch 134/600
0s - loss: 136.5767
Epoch 135/600
0s - loss: 129.0386
Epoch 136/600
0s - loss: 131.8401
Epoch 137/600
0s - loss: 132.1066
Epoch 138/600
0s - loss: 133.0663
Epoch 139/600
0s - loss: 137.4588
Epoch 140/600
0s - loss: 127.1148
Epoch 141/600
0s - loss: 134.2977
Epoch 142/600
0s - loss: 131.0187
Epoch 143/600
0s - loss: 132.8201
Epoch 144/600
0s - loss: 127.6370
Epoch 145/600
0s - loss: 128.3855
Epoch 146/600
0s - loss: 126.5135
Epoch 147/600
0s - loss: 130.4828
Epoch 148/600
0s - loss: 135.9351
Epoch 149/600
0s - loss: 124.0409
Epoch 150/600
0s - loss: 123.7146
Epoch 151/600
0s - loss: 121.6050
Epoch 152/600
0s - loss: 129.0706
Epoch 153/600
0s - loss: 125.1157
Epoch 154/600
0s - loss: 127.1861
Epoch 155/600
0s - loss: 129.9822
Epoch 156/600
0s - loss: 141.4813
Epoch 157/600
0s - loss: 134.8850
Epoch 158/600
0s - loss: 131.9322
Epoch 159/600
0s - loss: 130.6384
Epoch 160/600
0s - loss: 131.6156
Epoch 161/600
0s - loss: 125.3765
Epoch 162/600
0s - loss: 129.7013
Epoch 163/600
0s - loss: 127.3790
Epoch 164/600
0s - loss: 132.1445
Epoch 165/600
0s - loss: 120.9206
Epoch 166/600
0s - loss: 125.7385
Epoch 167/600
0s - loss: 121.8385
Epoch 168/600
0s - loss: 129.2449
Epoch 169/600
0s - loss: 137.2389
Epoch 170/600
0s - loss: 130.5058
Epoch 171/600
0s - loss: 124.6482
Epoch 172/600
0s - loss: 128.1786
Epoch 173/600
0s - loss: 128.8125
Epoch 174/600
0s - loss: 121.7987
Epoch 175/600
0s - loss: 140.3670
Epoch 176/600
0s - loss: 123.8847
Epoch 177/600
0s - loss: 127.7914
Epoch 178/600
0s - loss: 114.5440
Epoch 179/600
0s - loss: 123.7023
Epoch 180/600
0s - loss: 124.3581
Epoch 181/600
0s - loss: 113.7725
Epoch 182/600
0s - loss: 123.7852
Epoch 183/600
0s - loss: 129.7230
Epoch 184/600
0s - loss: 117.5192
Epoch 185/600
0s - loss: 127.0383
Epoch 186/600
0s - loss: 127.7042
Epoch 187/600
0s - loss: 130.2425
Epoch 188/600
0s - loss: 119.9071
Epoch 189/600
0s - loss: 120.5445
Epoch 190/600
0s - loss: 129.0083
Epoch 191/600
0s - loss: 123.7141
Epoch 192/600
0s - loss: 128.3861
Epoch 193/600
0s - loss: 121.8726
Epoch 194/600
0s - loss: 124.9633
Epoch 195/600
0s - loss: 125.9844
Epoch 196/600
0s - loss: 126.4831
Epoch 197/600
0s - loss: 128.5690
Epoch 198/600
0s - loss: 124.6208
Epoch 199/600
0s - loss: 131.1970
Epoch 200/600
0s - loss: 130.1638
Epoch 201/600
0s - loss: 135.1727
Epoch 202/600
0s - loss: 121.7711
Epoch 203/600
0s - loss: 129.9074
Epoch 204/600
0s - loss: 134.1640
Epoch 205/600
0s - loss: 131.9101
Epoch 206/600
0s - loss: 126.3493
Epoch 207/600
0s - loss: 128.2380
Epoch 208/600
0s - loss: 129.7818
Epoch 209/600
0s - loss: 120.2367
Epoch 210/600
0s - loss: 134.8890
Epoch 211/600
0s - loss: 136.0891
Epoch 212/600
0s - loss: 125.7117
Epoch 213/600
0s - loss: 124.2585
Epoch 214/600
0s - loss: 123.8083
Epoch 215/600
0s - loss: 126.6754
Epoch 216/600
0s - loss: 116.5685
Epoch 217/600
0s - loss: 127.3604
Epoch 218/600
0s - loss: 124.1703
Epoch 219/600
0s - loss: 115.9647
Epoch 220/600
0s - loss: 119.1948
Epoch 221/600
0s - loss: 131.4249
Epoch 222/600
0s - loss: 128.3477
Epoch 223/600
0s - loss: 130.3510
Epoch 224/600
0s - loss: 127.8626
Epoch 225/600
0s - loss: 129.2521
Epoch 226/600
0s - loss: 120.8366
Epoch 227/600
0s - loss: 120.3570
Epoch 228/600
0s - loss: 125.2690
Epoch 229/600
0s - loss: 122.6813
Epoch 230/600
0s - loss: 122.0482
Epoch 231/600
0s - loss: 119.7125
Epoch 232/600
0s - loss: 127.8811
Epoch 233/600
0s - loss: 129.3933
Epoch 234/600
0s - loss: 127.2018
Epoch 235/600
0s - loss: 119.0976
Epoch 236/600
0s - loss: 117.7908
Epoch 237/600
0s - loss: 125.4172
Epoch 238/600
0s - loss: 125.3065
Epoch 239/600
0s - loss: 132.6227
Epoch 240/600
0s - loss: 126.3269
Epoch 241/600
0s - loss: 120.0822
Epoch 242/600
0s - loss: 127.1288
Epoch 243/600
0s - loss: 117.2228
Epoch 244/600
0s - loss: 119.4637
Epoch 245/600
0s - loss: 123.9525
Epoch 246/600

0s - loss: 129.6545
Epoch 247/600
0s - loss: 117.6698
Epoch 248/600
0s - loss: 116.5961
Epoch 249/600
0s - loss: 127.0336
Epoch 250/600
0s - loss: 125.6138
Epoch 251/600
0s - loss: 131.3548
Epoch 252/600
0s - loss: 127.1394
Epoch 253/600
0s - loss: 124.7196
Epoch 254/600
0s - loss: 125.7685
Epoch 255/600
0s - loss: 123.6367
Epoch 256/600
0s - loss: 124.8903
Epoch 257/600
0s - loss: 124.8987
Epoch 258/600
0s - loss: 121.4839
Epoch 259/600
0s - loss: 118.7575
Epoch 260/600
0s - loss: 129.5814
Epoch 261/600
0s - loss: 114.9562
Epoch 262/600
0s - loss: 126.7437
Epoch 263/600
0s - loss: 126.4146
Epoch 264/600
0s - loss: 119.1236
Epoch 265/600
0s - loss: 129.9265
Epoch 266/600
0s - loss: 127.6185
Epoch 267/600
0s - loss: 116.3237
Epoch 268/600
0s - loss: 123.9433
Epoch 269/600
0s - loss: 115.6391
Epoch 270/600
0s - loss: 124.6918
Epoch 271/600
0s - loss: 130.8986
Epoch 272/600
0s - loss: 120.5481
Epoch 273/600
0s - loss: 127.0022
Epoch 274/600
0s - loss: 127.7788
Epoch 275/600
0s - loss: 113.8140
Epoch 276/600
0s - loss: 122.2579
Epoch 277/600
0s - loss: 126.9602
Epoch 278/600
0s - loss: 124.8284
Epoch 279/600
0s - loss: 124.4399
Epoch 280/600
0s - loss: 119.9942
Epoch 281/600
0s - loss: 126.1428
Epoch 282/600
0s - loss: 119.4218
Epoch 283/600
0s - loss: 118.0413
Epoch 284/600
0s - loss: 128.5484
Epoch 285/600
0s - loss: 124.4601
Epoch 286/600
0s - loss: 134.1509
Epoch 287/600
0s - loss: 127.5018
Epoch 288/600
0s - loss: 117.7411
Epoch 289/600
0s - loss: 132.3119
Epoch 290/600
0s - loss: 117.3209
Epoch 291/600
0s - loss: 120.5962
Epoch 292/600
0s - loss: 127.5379
Epoch 293/600
0s - loss: 122.4587
Epoch 294/600
0s - loss: 121.7160
Epoch 295/600
0s - loss: 130.4876
Epoch 296/600
0s - loss: 123.5223
Epoch 297/600
0s - loss: 123.1569
Epoch 298/600
0s - loss: 130.1546
Epoch 299/600
0s - loss: 121.8289
Epoch 300/600
0s - loss: 124.4739
Epoch 301/600
0s - loss: 120.5520
Epoch 302/600
0s - loss: 126.3842
Epoch 303/600
0s - loss: 126.8589
Epoch 304/600
0s - loss: 121.7043
Epoch 305/600
0s - loss: 122.2500
Epoch 306/600
0s - loss: 124.6418
Epoch 307/600
0s - loss: 122.4210
Epoch 308/600
0s - loss: 122.1214
Epoch 309/600
0s - loss: 118.5633
Epoch 310/600
0s - loss: 124.2887
Epoch 311/600
0s - loss: 117.6541
Epoch 312/600
0s - loss: 127.7990
Epoch 313/600
0s - loss: 121.3148
Epoch 314/600
0s - loss: 128.2927
Epoch 315/600
0s - loss: 119.6766
Epoch 316/600
0s - loss: 118.6473
Epoch 317/600
0s - loss: 118.4169
Epoch 318/600
0s - loss: 126.5815
Epoch 319/600
0s - loss: 120.7256
Epoch 320/600
0s - loss: 123.6591
Epoch 321/600
0s - loss: 126.8312
Epoch 322/600
0s - loss: 122.8063
Epoch 323/600
0s - loss: 119.2348
Epoch 324/600
0s - loss: 127.2651
Epoch 325/600
0s - loss: 121.2070
Epoch 326/600
0s - loss: 117.3970
Epoch 327/600
0s - loss: 126.2972
Epoch 328/600
0s - loss: 135.9134
Epoch 329/600
0s - loss: 118.3445
Epoch 330/600
0s - loss: 116.5631
Epoch 331/600
0s - loss: 124.0630
Epoch 332/600
0s - loss: 116.1742
Epoch 333/600
0s - loss: 124.5079
Epoch 334/600
0s - loss: 127.3892
Epoch 335/600
0s - loss: 119.1908
Epoch 336/600
0s - loss: 122.9826
Epoch 337/600
0s - loss: 120.4664
Epoch 338/600
0s - loss: 121.8561
Epoch 339/600
0s - loss: 120.0625
Epoch 340/600
0s - loss: 118.0349
Epoch 341/600
0s - loss: 126.8294
Epoch 342/600
0s - loss: 123.9642
Epoch 343/600
0s - loss: 130.8725
Epoch 344/600
0s - loss: 121.7603
Epoch 345/600
0s - loss: 117.5769
Epoch 346/600
0s - loss: 121.8036
Epoch 347/600
0s - loss: 117.0641
Epoch 348/600
0s - loss: 126.0469
Epoch 349/600
0s - loss: 123.1857
Epoch 350/600
0s - loss: 121.1369
Epoch 351/600
0s - loss: 121.3146
Epoch 352/600
0s - loss: 125.1152
Epoch 353/600
0s - loss: 118.2239
Epoch 354/600
0s - loss: 113.8629
Epoch 355/600
0s - loss: 122.0959
Epoch 356/600
0s - loss: 121.9550
Epoch 357/600
0s - loss: 123.0791
Epoch 358/600
0s - loss: 128.3015
Epoch 359/600
0s - loss: 120.2730
Epoch 360/600
0s - loss: 135.3064
Epoch 361/600
0s - loss: 120.6793
Epoch 362/600
0s - loss: 116.6522
Epoch 363/600
0s - loss: 123.5027
Epoch 364/600
0s - loss: 124.0328
Epoch 365/600
0s - loss: 112.6779
Epoch 366/600
0s - loss: 120.7228
Epoch 367/600
0s - loss: 119.9415
Epoch 368/600
0s - loss: 118.7358
Epoch 369/600
0s - loss: 123.6897
Epoch 370/600
0s - loss: 120.7542
Epoch 371/600
0s - loss: 120.2321
Epoch 372/600
0s - loss: 123.4912
Epoch 373/600
0s - loss: 117.3417
Epoch 374/600
0s - loss: 123.5823
Epoch 375/600
0s - loss: 120.8347
Epoch 376/600
0s - loss: 119.2519
Epoch 377/600
0s - loss: 115.2129
Epoch 378/600
0s - loss: 125.2420
Epoch 379/600
0s - loss: 120.4309
Epoch 380/600
0s - loss: 127.9442
Epoch 381/600
0s - loss: 120.1620
Epoch 382/600
0s - loss: 123.1774
Epoch 383/600
0s - loss: 123.6481
Epoch 384/600
0s - loss: 117.3719
Epoch 385/600
0s - loss: 123.2045
Epoch 386/600
0s - loss: 115.7984
Epoch 387/600
0s - loss: 120.6419
Epoch 388/600
0s - loss: 115.3311
Epoch 389/600
0s - loss: 121.5879
Epoch 390/600
0s - loss: 130.4147
Epoch 391/600
0s - loss: 120.8440
Epoch 392/600
0s - loss: 122.1253
Epoch 393/600
0s - loss: 120.1326
Epoch 394/600
0s - loss: 123.0817
Epoch 395/600
0s - loss: 116.6886
Epoch 396/600
0s - loss: 124.6860
Epoch 397/600
0s - loss: 121.1399
Epoch 398/600
0s - loss: 122.9247
Epoch 399/600
0s - loss: 128.6562
Epoch 400/600
0s - loss: 121.0175
Epoch 401/600
0s - loss: 122.1470
Epoch 402/600
0s - loss: 116.6368
Epoch 403/600
0s - loss: 117.9778
Epoch 404/600
0s - loss: 121.3928
Epoch 405/600

In [132]:
train_data = proc_train
train_data.loc[train_data['Age'].isnull()]

to_pric = train_data.loc[train_data['Age'].isnull()].drop(['Age', 'Survived', 'is_test'], axis=1)
p = tmodel.predict(to_pric.values)

# p is of size (xxx,1)

train_data['Age'].loc[train_data['Age'].isnull()] = np.transpose(p)[0]

/Users/Luchuchu/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/Users/Luchuchu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [134]:
test_data = proc_test
test_data.loc[test_data['Age'].isnull()]

to_pric = test_data.loc[test_data['Age'].isnull()].drop(['Age', 'Survived', 'is_test'], axis=1)
p = tmodel.predict(to_pric.values)

# p is of size (xxx,1)

test_data['Age'].loc[test_data['Age'].isnull()] = np.transpose(p)[0]

/Users/Luchuchu/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/Users/Luchuchu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

Empty DataFrame
Columns: [Survived, Age, SibSp, Parch, is_test, Title_Capt, Title_Col, Title_Don, Title_Dona, Title_Dr, Title_Jonkheer, Title_Lady, Title_Major, Title_Master, Title_Miss, Title_Mlle, Title_Mme, Title_Mr, Title_Mrs, Title_Ms, Title_Rev, Title_Sir, Title_the Countess, Pclass_1, Pclass_2, Pclass_3, Sex_female, Sex_male, Embarked_C, Embarked_Q, Embarked_S, Cabin_A10, Cabin_A11, Cabin_A14, Cabin_A16, Cabin_A18, Cabin_A19, Cabin_A20, Cabin_A21, Cabin_A23, Cabin_A24, Cabin_A26, Cabin_A29, Cabin_A31, Cabin_A32, Cabin_A34, Cabin_A36, Cabin_A5, Cabin_A6, Cabin_A7, Cabin_A9, Cabin_B10, Cabin_B101, Cabin_B102, Cabin_B11, Cabin_B18, Cabin_B19, Cabin_B20, Cabin_B22, Cabin_B24, Cabin_B26, Cabin_B28, Cabin_B3, Cabin_B30, Cabin_B35, Cabin_B36, Cabin_B37, Cabin_B38, Cabin_B39, Cabin_B4, Cabin_B41, Cabin_B42, Cabin_B45, Cabin_B49, Cabin_B5, Cabin_B50, Cabin_B51 B53 B55, Cabin_B52 B54 B56, Cabin_B57 B59 B63 B66, Cabin_B58 B60, Cabin_B61, Cabin_B69, Cabin_B71, Cabin_B73, Cabin_B77, Cabin_B78, Cabin_B79, Cabin_B80, Cabin_B82 B84, Cabin_B86, Cabin_B94, Cabin_B96 B98, Cabin_C101, Cabin_C103, Cabin_C104, Cabin_C105, Cabin_C106, Cabin_C110, Cabin_C111, Cabin_C116, ...]
Index: []

[0 rows x 227 columns]

In [149]:
y_train = pd.get_dummies(train_data['Survived'])

In [153]:
X_train = train_data.drop(['Survived', 'is_test'], axis=1)

In [143]:
model = Sequential()
model.add(Dense(128, input_dim=X.shape[1], kernel_initializer='normal'))
model.add(Activation('relu'))

for i in range(15):
    model.add(Dense(128, kernel_initializer='normal'))
    model.add(Activation('relu'))
    model.add(Dropout(0.40))
    
model.add(Dense(2))
model.add(Activation('softmax'))

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [146]:
model.fit(X_train.values, y_train.values, epochs=50, verbose=2)

Epoch 1/50
2s - loss: 0.6775 - acc: 0.6038
Epoch 2/50
0s - loss: 0.6682 - acc: 0.6162
Epoch 3/50
0s - loss: 0.6561 - acc: 0.6162
Epoch 4/50
0s - loss: 0.6073 - acc: 0.6162
Epoch 5/50
0s - loss: 0.5809 - acc: 0.7609
Epoch 6/50
0s - loss: 0.5354 - acc: 0.7991
Epoch 7/50
0s - loss: 0.5932 - acc: 0.7205
Epoch 8/50
0s - loss: 0.4956 - acc: 0.8462
Epoch 9/50
0s - loss: 0.4805 - acc: 0.8395
Epoch 10/50
0s - loss: 0.4800 - acc: 0.8182
Epoch 11/50
0s - loss: 0.5087 - acc: 0.8238
Epoch 12/50
0s - loss: 0.4686 - acc: 0.8339
Epoch 13/50
0s - loss: 0.4644 - acc: 0.8451
Epoch 14/50
0s - loss: 0.4340 - acc: 0.8440
Epoch 15/50
0s - loss: 0.4540 - acc: 0.8305
Epoch 16/50
0s - loss: 0.4436 - acc: 0.8361
Epoch 17/50
0s - loss: 0.4192 - acc: 0.8597
Epoch 18/50
0s - loss: 0.4310 - acc: 0.8608
Epoch 19/50
0s - loss: 0.4061 - acc: 0.8631
Epoch 20/50
0s - loss: 0.4131 - acc: 0.8519
Epoch 21/50
0s - loss: 0.4458 - acc: 0.8429
Epoch 22/50
0s - loss: 0.4391 - acc: 0.8429
Epoch 23/50
0s - loss: 0.4103 - acc: 0.8664
Epoch 24/50
0s - loss: 0.4123 - acc: 0.8507
Epoch 25/50
0s - loss: 0.3965 - acc: 0.8687
Epoch 26/50
0s - loss: 0.3940 - acc: 0.8810
Epoch 27/50
0s - loss: 0.3944 - acc: 0.8743
Epoch 28/50
0s - loss: 0.3815 - acc: 0.8698
Epoch 29/50
0s - loss: 0.3831 - acc: 0.8664
Epoch 30/50
0s - loss: 0.3924 - acc: 0.8743
Epoch 31/50
0s - loss: 0.3624 - acc: 0.8754
Epoch 32/50
0s - loss: 0.3806 - acc: 0.8844
Epoch 33/50
0s - loss: 0.3991 - acc: 0.8698
Epoch 34/50
0s - loss: 0.3721 - acc: 0.8833
Epoch 35/50
0s - loss: 0.3815 - acc: 0.8698
Epoch 36/50
0s - loss: 0.3605 - acc: 0.8855
Epoch 37/50
0s - loss: 0.3611 - acc: 0.8788
Epoch 38/50
0s - loss: 0.3397 - acc: 0.8878
Epoch 39/50
0s - loss: 0.3556 - acc: 0.8889
Epoch 40/50
0s - loss: 0.3947 - acc: 0.8563
Epoch 41/50
0s - loss: 0.3817 - acc: 0.8541
Epoch 42/50
0s - loss: 0.3807 - acc: 0.8866
Epoch 43/50
0s - loss: 0.3316 - acc: 0.8822
Epoch 44/50
0s - loss: 0.3579 - acc: 0.8788
Epoch 45/50
0s - loss: 0.4381 - acc: 0.8384
Epoch 46/50
0s - loss: 0.4718 - acc: 0.8249
Epoch 47/50
0s - loss: 0.4166 - acc: 0.8698
Epoch 48/50
0s - loss: 0.3886 - acc: 0.8687
Epoch 49/50
0s - loss: 0.3576 - acc: 0.8799
Epoch 50/50
0s - loss: 0.3432 - acc: 0.8878

In [ ]:
test_data.columns

In [ ]:
p_survived = model.predict_classes(test_data.drop(['Survived', 'is_test'], axis=1).values)

In [ ]:
p_survived

In [ ]:
submission = pd.DataFrame()
submission['PassengerId']=test_data.index
submission['Survived']=p_survived

In [ ]:
submission.shape

In [ ]:
submission.to_csv('titanic_keras_cs.csv', index=False)